*{
    text-decoration: none;
}
nav{
  height: 130px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B8C1EC;
    text-decoration: none;
    position: relative;
  }
  nav li{
    width: 150px;
    height: 60px;
    transition: .5s;
    list-style:circle;
    display: block;
    color: rgb(73, 76, 230);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    
   /* border-bottom-style: solid ;*/
      box-sizing: border-box;
  }
nav li:hover{
  background-color: #EEBBC3;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #B8C1EC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: (73, 76, 230);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    border-bottom: 3px solid rgb(4, 0, 255);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
section{
    display: flex;
 /*   justify-content: space-between;*/
 background-color: #B8C1EC;
}

.module{
   
  border-collapse: collapse;
  background-color: rgb(146, 146, 253);
  
   width: 1200px;
   margin: 50px;
 
  text-align: center;
  border-radius: 10px;
  
}
tbody tr{
  height: 50px;
  width: 80%;
}
thead th{
  font-size: x-large;
  width: 80%;
  height: 60px;
  background-color: #7d7fe0;
}

 th:hover{
  width: 80%;
  background-color: #c04627;
  font-size: 25px;
  border-radius: 15px;
  text-shadow: 0 0 1px rgb(255, 102, 0);
  cursor: alias;
}
  td:hover {
   width: 80%;
   cursor:context-menu;
   background-color: #EEBBC3;
  font-size: 25px;
  text-shadow: 0 0 1px rgb(255, 102, 0);
  border-radius: 15px;
}
/*td:hover{
  background-color:rgb(66, 66, 197);
}/*
 tbody{
  width: 80%;
}
*/
/*
body{
    float: left;
}*/
.menu{
  background-color: #B8C1EC;
    width: 60px;
    height: 100vh;
    padding: 15px;
    list-style: none;
    overflow: hidden;
   float: left;
    transition: .5s;
    left: 0;
   
  }
  .menu:hover{
    width: 250px;
  }
  .menu ul{
    list-style: none;
   
  }
  .menu ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: .5s;
  padding-top: 10px;
  }
  .menu ul li a:hover{
    background-color: gray;
    
  }
  @media screen and (max-width: 300px) {
    body {
      width: 100%;
      margin-top: 0;
      display: block;
    }
  }

  table{
    width: 100%;
    border-spacing: 10px;

}
footer {
 
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  position: relative;
  padding: 80px;
  bottom: 1px;
}
.ico{
 font-size: 35px;
 width: 60px;
 position:relative;
 
}
.ico:hover{
  
  transform: scale(1.2); 
}
