*{
    text-decoration: none;
}
body{
  background-color: #B8C1EC;
}
nav{
  height: 130px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
    overflow: hidden;
    background-color: #B8C1EC;
    text-decoration: none;
    position: relative;
    display: block;
  }
  nav ul:after {
    display: inline-block;
  }
  nav li{
    display: inline-block;
    width: 150px;
    height: 60px;
    transition: .5s;
    list-style:circle;
    
    color: rgb(73, 76, 230);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    
   /* border-bottom-style: solid ;*/
  /* border-bottom: 3px solid rgb(4, 0, 255);*/
   box-sizing: border-box;
  }
nav li:hover{
  background-color: #EEBBC3;
}
.info img{
  float: left;
  width: 20%;           
}
.info p{
  direction:ltr;
  text-align: justify;
}
.moretext{
  display: none;
}
.text.moretext{
  display: inline;
}
.text.dots{
  display: none;
}
.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
section h1{
  color: rgb(44, 47, 238);
  text-align: center;
}
section h1:hover{
 background-color: #EEBBC3;
  /*transition: .5s;*/
border-bottom: #EEBBC3;
transform: scale(1.2);
}
section{
  padding: 50px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
 
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  position: relative;
  padding: 80px;
  bottom: 1px;
}
.ico{
 font-size: 35px;
 width: 60px;
 position:relative;
 
}
.ico:hover{
  
  transform: scale(1.5); 
}
